<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link type="image/x-icon" href="/img/logo1.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="/img/logo1.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Авторизация</title>
</head>

<body>
    <div class="auth-container">
        <div class="auth-card">
            <div class="auth-header">
                <img src="img/logo.svg" alt="ИнтерВектор" class="logo">
                <h1>Авторизация</h1>
            </div>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login" required placeholder="Введите логин">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required placeholder="Введите пароль">
                </div>
                <button type="submit" class="submit-btn">Войти</button>
                {{#if error}}
                <div class="error-message">{{error}}</div>
                {{/if}}
            </form>
        </div>
    </div>
</body>

</html>